<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Łukasz Targański</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "O mnie",  about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Wiadomości</a></li>
    </ul>
  </nav>
</footer>